@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturma tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <th>@item.BlogID</th>
    <td>@item.BlogTitle</td>
    <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
    <td>@item.Category.CategoryName</td>
    <td>
        @if (item.BlogStatus)
        {
            <span class="badge badge-success">Aktif</span>
        }
        else
        {
            <span class="badge badge-secondary">Pasif</span>
        }
    </td>
    <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger" id="Sil"><i class="far fa-trash-alt">&nbsp;Sil</i></a></td>
    <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Yeni Blog Oluştur</a>

<script>
const { Script } = require("vm");

                                    $('.Sil').click(function (e) {
                                        e.preventDefault();
                                        var linkURL = $(this).attr("href");
                                        Swal.fire({
                                            title: 'UYARI!',
                                            text: "Blog yazısını silmek istediğinize emin misiniz?",
                                            icon: 'warning',
                                            showCancelButton: true,
                                            showCancelButton: true,
                                            confirmButtonColor: '#5CBA6C',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Evet',
                                            cancelButtonText: 'Hayır'
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = linkURL;
                                                Swal.fire(
                                                    'Başarılı!',
                                                    'Seçilen Blog Silindi .',
                                                    'success'
                                                )
                                            }
                                            else if (result.dismiss === Swal.DismissReason.cancel) {
                                            }
                                        })
                                    });
    </script>